<div class="estilo">
    <p-toast></p-toast>
    <div class="card">
        <p-toolbar styleClass="mb-4">
            <ng-template pTemplate="left">
                <button pButton pRipple label="Nuevo" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
                <button pButton pRipple label="Guardar" icon="pi pi-save" class="p-button-primary mr-2"></button>
                <button pButton pRipple label="Eliminar" icon="pi pi-trash" class="p-button-danger mr-2" (click)="deleteSelectedProducts()" [disabled]="!selectedProducts || !selectedProducts.length"></button>
            </ng-template>
    
            <ng-template pTemplate="right">
                <button pButton pRipple icon="pi pi-file-pdf" class="p-button-warning ml-2" pTooltip="PDF" tooltipPosition="bottom"></button>
            </ng-template>
        </p-toolbar>
    </div>
   
    <p-table [value]="estudiantes" id="miTabla">
        <ng-template pTemplate="caption">
            <div class="grid col col-12">
                <div class="col-3">
                    <img src="../../../../assets/images/logo.png">
                </div>
                <div class="grid col-9">
                    <h5 class="col-9">Programa/Facultad:   </h5>
                    <h5 class="col-12">Materia: </h5>
                    <h5 class="col-4">Grupo: </h5>
                    <h5 class="col-4">Periodo: </h5>
                    <h5 class="col-4">Docente: </h5>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="nombreCompleto">Nombre <p-sortIcon field="nombreCompleto"></p-sortIcon></th>
                <th>Asistencia</th>
                <th>Editar</th>
            </tr>
        </ng-template>
            <ng-template pTemplate="body" let-estudiante>
                <tr>
                    <td>{{estudiante.nombreCompleto}}</td>
                    <td><p-checkbox class="flex justify-content-center" name="groupname" value="val1" [(ngModel)]="selectedValues"></p-checkbox></td>
                    <td><button pButton icon="pi pi-cog" class="flex justify-content-center"></button></td>
                </tr>
            </ng-template>
            <ng-template pTemplate="summary">
                <div class="grid col-10">
                    <h5 class="col-5">Fecha:  </h5>
                    <h5 class="col-4">Salon: </h5>
                    <h5 class="col-5">Tema de clases: </h5>
                    <h5 class="col-4">Firma: </h5>
                </div>
            </ng-template>
    </p-table>
   
</div>