<div class="estilo">
    <p-toast></p-toast>
    <div class="card">
        <p-toolbar styleClass="mb-4">
            <ng-template pTemplate="left">
                <button pButton pRipple label="Nuevo" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
                <!-- <button pButton pRipple label="Guardar" icon="pi pi-save" class="p-button-primary mr-2" (click)="guardar()"></button> -->
                <button pButton pRipple label="Eliminar Todo" icon="pi pi-trash" class="p-button-danger mr-2" (click)="eliminarTodo()"></button>
            </ng-template>
    
            <ng-template pTemplate="right">
                <!-- <button pButton pRipple icon="pi pi-file-pdf" class="p-button-warning ml-2" pTooltip="PDF" 
                        tooltipPosition="bottom"></button> -->
                        <a href="../../../../assets/images/Lista.pdf"
                           pRipple
                           class="p-button-warning ml-2"
                           icon="pi pi-file-pdf"
                           download="Asistencia"
                           pTooltip="PDF"
                           pButton></a>
            </ng-template>
        </p-toolbar>
    </div>
   
    
    <p-table [value]="estudiantes">
        <ng-template pTemplate="caption">
            <div class="grid col col-12">
                <div class="col-3">
                    <img src="../../../../assets/images/logo.png">
                </div>
                <div class="grid col-9">
                    <h5 class="col-9">Programa/Facultad: Ingenieria de Sistemas  </h5>
                    <h5 class="col-12">Materia: Programación web </h5>
                    <h5 class="col-4">Grupo: 4</h5>
                    <h5 class="col-4">Periodo: 2022-I</h5>
                    <h5 class="col-4">Docente: {{name}} </h5>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr >
                <th>#</th>
                <th pSortableColumn="nombreCompleto">Nombre y Apellido <p-sortIcon field="nombreCompleto"></p-sortIcon></th>
                <th>Asistencia</th>
                <th>Editar/Eliminar</th>
            </tr>
        </ng-template>
            <ng-template pTemplate="body" let-estudiante let-i="rowIndex">
                <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
                <tr>
                    <td>{{i+1}}</td>
                    <td>{{estudiante.nombreCompleto}}</td>
                    <td><p-checkbox class="flex justify-content-center" [(ngModel)]="estudiante.asistencia" [binary]="true" [disabled]="true"></p-checkbox></td>
                    <td><button pButton icon="pi pi-cog" class="" (click)="editar(estudiante)"></button>
                    <button pButton icon="pi pi-info-circle" label="Eliminar" class="ml-2 p-button-danger" (click)="eliminar(i)"></button></td>

                </tr>
            </ng-template>
            <ng-template pTemplate="summary" >
                <div class="grid col-10">
                    <h5 class="col-5">Fecha: 2020-15-05 </h5>
                    <h5 class="col-4">Salon: Lab. Modelado y Simulación</h5>
                    <h5 class="col-5">Tema de clases: Patrón arquitectonico</h5>
                </div>
            </ng-template>
    </p-table>


            <div class="grid" *ngIf="agregar" >
                <div>
                    <form [formGroup]="miFormulario" (ngSubmit)="confirmar()" >
                        <div class="grid wrap-input100 estilo">
                            <span class="col-12">Agregar estudiante</span>
                            <span class="label-input100 col-12">Nombre</span>
                            <input class="input100 text-placeholder"
                                   type="text" 
                                   formControlName="nombreCompleto"
                                   placeholder="Ingrese el nombre">
                            <span  class="focus-input100"></span>
                        </div>
                        
                        <div class="grid  estilo">
                            <span class="label-input100 col-6">Asistencia</span>
                            <p-checkbox class="col-6" formControlName="asistencia" [binary]="true"></p-checkbox>
                            <span  class="focus-input100"></span>
                        </div>
                        <div class="grid justify-content-end">
                            <button pButton  label="Agregar" icon="pi pi-cloud-upload" type="submit"></button>
                            <button pButton  class="ml-2 p-button-danger" label="Cancelar" icon="pi pi-exclamation-circle" (click)="cancelar()"></button>
            
                        </div>
                    </form>
                </div>
            </div>
            
            <div class="grid" *ngIf="edit">
                    <div >
                        <form [formGroup]="miFormulario" (ngSubmit)="confirmEdit(cloneStuden)">
                            <div class="grid wrap-input100 estilo">
                                <span class="col-12">Editando estudiante...</span>
                                <span class="label-input100 col-12">Nombre</span>
                                <input class="input100 text-placeholder"
                                       type="text"
                                       [(ngModel)]="cloneStuden"
                                       formControlName="nombreCompleto"
                                       placeholder="Ingrese el nombre">
                                <span  class="focus-input100"></span>
                            </div>
                            
                            <div class="grid  estilo">
                                <span class="label-input100 col-6">Asistencia</span>
                                <p-checkbox class="col-6" formControlName="asistencia" [(ngModel)]="cloneAsistencia" [binary]="true"></p-checkbox>
                                <span  class="focus-input100"></span>
                            </div>
                            <div class="grid justify-content-end">
                                <button pButton  label="Editar" icon="pi pi-cloud-upload" type="submit"></button>
                                <button pButton  class="ml-2 p-button-danger" label="Cancelar" icon="pi pi-exclamation-circle" (click)="cancelar()"></button>
                
                            </div>
                        </form>
                    </div>
            </div>

   
</div>