<div class="estilo">
    <p-toast></p-toast>
    <p-table [value]="estudiantes" id="miTabla">
        <ng-template pTemplate="caption">
            <div class="grid col col-12">
                <div class="col-3">
                    <img src="../../../../assets/images/logo.png" style="width: 100px;">
                </div>
                <div class="grid col-9">
                    <h5 class="col-9">Programa/Facultad:   </h5>
                    <h5 class="col-12">Materia: </h5>
                    <h5 class="col-4">Grupo: </h5>
                    <h5 class="col-4">Periodo: </h5>
                    <h5 class="col-4">Docente: </h5>
                    <button pButton pRipple icon="pi pi-file-pdf" class="p-button-warning ml-2" pTooltip="PDF" tooltipPosition="bottom"></button>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="nombreCompleto">Nombre <p-sortIcon field="nombreCompleto"></p-sortIcon></th>
                <th>Asistencia</th>
                <th>Fecha</th>
            </tr>
        </ng-template>
            <ng-template pTemplate="body" let-estudiante>
                <tr>
                    <td>{{estudiante.nombreCompleto}}</td>
                    <td><p-checkbox class="flex justify-content-center"[(ngModel)]="estudiante.asistencia" [binary]="true" [disabled]="true"></p-checkbox></td>
                    <td>{{estudiante.fecha}}</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="summary">
                <div class="grid col-10">
                    <h5 class="col-5">Fecha:  </h5>
                    <h5 class="col-4">Salon: </h5>
                    <h5 class="col-5">Tema de clases: </h5>
                    <h5 class="col-4">Firma: </h5>
                </div>
            </ng-template>
    </p-table>
   
</div>