<div class="estilo">
    <p-toast></p-toast>
    <p-table [value]="estudiantes" id="miTabla">
        <ng-template pTemplate="caption">
            <div class="grid col col-12">
                <div class="col-3">
                    <img src="../../../../assets/images/logo.png" style="width: 100px;">
                </div>
                <div class="grid col-9">
                    <h5 class="col-9">Programa/Facultad: Ingenieria de sistemas</h5>
                    <h5 class="col-12">Materia: Programación web</h5>
                    <h5 class="col-4">Grupo: 2</h5>
                    <h5 class="col-4">Periodo: 2022-I </h5>
                    <h5 class="col-4">Docente: Johan Robles </h5>
                    <a href="../../../../assets/images/ListaEstudiante.pdf"
                           pRipple
                           class="p-button-warning ml-2"
                           icon="pi pi-file-pdf"
                           download="Asistencia Estudiante"
                           pTooltip="PDF"
                           pButton></a>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="nombreCompleto">Nombre <p-sortIcon 
                    field="nombreCompleto"></p-sortIcon></th>
                <th>Asistencia</th>
                <th>Fecha</th>
            </tr>
        </ng-template>
            <ng-template pTemplate="body" let-estudiante>
                <tr>
                    <td>{{estudiante.nombreCompleto}}</td>
                    <td><p-checkbox class="flex justify-content-center"
                                    [(ngModel)]="estudiante.asistencia" 
                                    [binary]="true" 
                                    [disabled]="true"></p-checkbox></td>
                    <td>{{estudiante.fecha}}</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="summary">
                <div class="grid col-10">
                    <h5 class="col-4">Salon: Lab. Modelo y simulación</h5>
                    <h5 class="col-5">Tema de clases: Patrón arquitectonicos</h5>
                </div>
            </ng-template>
    </p-table>
   
</div>