

<!-- <p-menubar [model]="items">
    <input type="text" class="" pInputText placeholder="Buscar Asignatura...">
    <button pButton icon="pi pi-search" class="espacio p-button-raised p-button-rounded " ></button>
    <button pButton 
            label="Salir" 
            class="espacio p-button-text"
            icon="pi pi-"
            ></button>
            
</p-menubar> -->

<div class="grid ">
    <div class="col md:col-8">
        <p-tabMenu [model]="items"
                   ></p-tabMenu>
                   
    </div>
    <div class="col md:col-4 justify-content-end">
        <input type="text"
                pInputText
                class="espacio"
                placeholder="Buscar Asignatura...">
        <button pButton icon="pi pi-search" class="espacio p-button-raised p-button-rounded end" ></button>
    </div>
    
    
</div>
            
