<div class="estilo">
    
    <div class="text-layout estilo">
        <h1>Asignaturas en curso </h1>
    </div>
    

    <div class="grid estilo">
            <div class="col-3" *ngFor="let asignatura of asignaturas; let i">
                <p-card header="{{asignatura.materia}}" toggleable>
                        <h3>Horario: {{asignatura.horario}}</h3>
                        <h3>Grupo: {{asignatura.grupo}}</h3>
                        <button pButton label="Detalles..." class="left-50" (click)="lista()"> </button>
                </p-card>
            </div>
    </div>
</div>